﻿
@{
    ViewBag.Title = "Start";
}

<!DOCTYPE html>
<html>
<head>
    <title>Indeks</title>
</head>
<body>
    <div>
        <br />
        <br />
        <h1>Witaj na stronie Project Master!</h1>
        <h2>Zaloguj się, lub jeżeli nie masz konta zarejestruj</h2>
    </div>
</body>
</html>


