﻿<ul class="nav navbar-nav navbar-right">
    @* Jeżeli jest zalogowany ustaw email użytkownika i odnośnik do zarządzania kontem. Jeżeli nie, wyświetl opcje rejestracji i logowania*@
    @if (Request.IsAuthenticated) 
    {
        @*<li>
            @Html.ActionLink(User.Identity.Name, "Zarzadzaj", "Uzytkownik", null, htmlAttributes: new { title = "Zarządzaj" })
        </li>
        <li>    @Html.ActionLink("Wyloguj", "Wyloguj", "Uzytkownik")
        </li>*@
        <li class="expand">
            @Html.ActionLink(User.Identity.Name, null)
            <div>
                <ul class="user-menu">
                    <li>
                        @Html.ActionLink("Wyloguj", "Wyloguj", "Uzytkownik")
                        @Html.ActionLink("Moje zadania", "Lista", "Zadanie")
                    </li>
                </ul>
            </div>
        </li>
        
    }
    else
    {
        <li>@Html.ActionLink("Zarejestruj", "Rejestruj", "Uzytkownik")</li>
        <li>@Html.ActionLink("Zaloguj", "Loguj", "Uzytkownik")</li>
    }
</ul>