﻿@model ProjectMaster.Model.RejestrujModel
@{
    ViewBag.Title = "Rejestracja";
}
<br />
<br />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Niepowodzenie rejestracji");
    <section>
        <fieldset>
            <legend>Zarejestruj się</legend>
            <div class="form-group">
                @Html.LabelFor(u => u.Imie, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(u => u.Imie, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.Imie, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.Nazwisko, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(u => u.Nazwisko, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.Nazwisko, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.Email, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.Haslo, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(u => u.Haslo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.Haslo, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.PowtorzoneHaslo, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(u => u.PowtorzoneHaslo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.PowtorzoneHaslo, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Rejestruj" class="btn btn-default" />
                </div>
            </div>
        </fieldset>
        <br />
    </section>
}
