﻿@model IEnumerable<ProjectMaster.Model.Zadanie>
@using ProjectMaster.Model

@{
    ViewBag.Title = "Tablica zadan";
}


<div class="modal-body">
    @*<div class="alert alert-warning">*@

        <table class="table table-bordered">
            <tr class="success">
                <td></td>
                <td>Do zrobienia</td>
                <td>W trakcie</td>
                <td>Zrobione</td>
            </tr>
            @foreach (var z in Model)
            {
                <tr>
                    
                    <td class="active">@Backlog.Daj(z.BacklogId).Nazwa</td>
                    <td>
                        @if (Stan.DajStan(z.StanId).Klucz == "TODO")
                        {
                            <h4>@z.Nazwa</h4>
                            <h6>@Uzytkownik.DajUzytkownika(z.PrzypisanyDoId).Email</h6>
                        }
                    </td>
                    <td>
                        @if (Stan.DajStan(z.StanId).Klucz.ToString() == "IN")
                        {
                            <h4>@z.Nazwa</h4>
                            <h6>@Uzytkownik.DajUzytkownika(z.PrzypisanyDoId).Email</h6>
                        }
                    </td>
                    <td>
                        @if (Stan.DajStan(z.StanId).Klucz == "DONE")
                        {
                            <h4>@z.Nazwa</h4>
                            <h6>@Uzytkownik.DajUzytkownika(z.PrzypisanyDoId).Email</h6>
                        }
                    </td>
                </tr>
            }

        </table>
    @*</div>*@

        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    
</div>