﻿@model ProjectMaster.Model.SprintViewModel

@{
    ViewBag.Title = "Sprinty";
}


    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    @Html.ActionLink("Backlogi", "Index", "Sprint", new { @idProjektu = Model.Projekt.Id }, null)
                </li>
                <li>
                    @Html.ActionLink("Tablica zadań [" + @Model.AktualnySprint.Nazwa + "]", "ViewWyswietlTablice", "Sprint", new { @id = Model.AktualnySprint.Id }, new { @class = "modal-link" })
                </li>
                <li class="sidebar-brand">
                    <a href="#">
                        Sprinty w projekcie:
                    </a>
                </li>
                @foreach (var sprint in Model.Sprinty)
                {
                    if (sprint.Poczatek <= DateTime.Now && sprint.Koniec >= DateTime.Now)
                    {
                        <li>
                            @Html.ActionLink(sprint.Nazwa + " [aktualny]", "Index", new { @id = sprint.Id })
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink(sprint.Nazwa, "Index", new { @id = sprint.Id })
                        </li>
                    }
                }
                @if (Model.CzyAdminProjektu)
                {
                    <li>
                        @Html.ActionLink("Dodaj sprint", "Dodaj", "Sprint", new { @id = Model.Projekt.Id }, new { @class = "przyciskDodaj" })
                    </li>
                }

            </ul>
        </div>


        <div>
            
            @if (Model.CzyAdminProjektu && !Model.CzyWszystkie)
            {
                <br />
                <br />
                if (Model.AktualnySprint.Poczatek == null)
                {
                     @Html.ActionLink("Edytuj sprint", "ViewEdytuj", "Sprint", new { @id = Model.AktualnySprint.Id }, new { @class = "btn btn-default modal-link" })
                }
                else 
                {
                    @Html.ActionLink(Model.AktualnySprint.Poczatek.ToString() + " - " + Model.AktualnySprint.Koniec.ToString(), "ViewEdytuj", "Sprint", new { @id = Model.AktualnySprint.Id }, new { @class = "btn btn-default modal-link" })
                }

            }
        </div>


        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        @if (Model.CzyWszystkie && Model.CzyAdminProjektu)
                        {
                            @Html.ActionLink("Dodaj backlog", "ViewDodajEdytuj", "Backlog", new { @id = 0, @idProjektu = Model.Projekt.Id }, new { @class = "przyciskDodaj modal-link" })
                        }

                        <br />
                        @*@Html.ActionLink("Dodaj backlog", "DodajEdytuj", "Backlog", new { @id = 0 }, new { @class = "przyciskDodaj" })*@
                        @if (!Model.CzyWszystkie)
                        {
                            <h2>@Model.Projekt.Nazwa @Model.Sprinty.Where(s => s.Id == Model.AktualnySprint.Id).FirstOrDefault().Nazwa</h2>
                        }
                        else
                        {
                            <h2>@Model.Projekt.Nazwa Wszystkie backlogi</h2>
                        }
                        <table class="table">

                            <tr>
                                <th>
                                        <a data-toggle="collapse" data-target=".row1">
                                            +
                                        </a>
                                </th>
                                <th>
                                    @Html.Label("Tytuł")
                                </th>
                                <th>
                                    @Html.Label("Stan")
                                </th>
                                <th>
                                    @Html.Label("Przypisany do")
                                </th>
                                <th>
                                    @Html.Label("Wysiłek")
                                </th>
                                <th>
                                    @Html.Label("Warość biznesowa")
                                </th>
                                <th>
                                    @Html.Label("Ukończono [%]")
                                </th>
                                @if(Model.CzyWszystkie)
                                {
                                    <th>
                                        @Html.Label("Sprint")
                                    </th>
                                }
                            </tr>



                            @{int i = 0;}
                            @foreach (var backlog in Model.BacklogiTabela)
                            {
                                i++;
                                <tr>
                                    @*@Html.ActionLink("Dodaj backlog", "DodajEdytuj", "Backlog", new { @id = 0 }, new { @class = "przyciskDodaj" })*@

                                    <td>
                                        @Html.DisplayName(i.ToString())
                                    </td>
                                    <td>
                                        <li class="expand expandDwa">
                                            @Html.ActionLink(backlog.BacklogPelny.Nazwa, "ViewDodajEdytuj", "Backlog", new { @id = backlog.BacklogPelny.Id }, new { @class = "modal-link linkiProjektow" }) <br />
                                            <div>
                                                <ul class="user-menu">
                                                    <li>
                                                        @Html.ActionLink("Edytuj", "ViewDodajEdytuj", "Backlog", new { @id = backlog.BacklogPelny.Id }, new { @class = "modal-link" })

                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("Dodaj zadanie", "ViewDodajEdytuj", "Zadanie", new { @id = 0, @idBacklogu = backlog.BacklogPelny.Id }, new { @class = "modal-link" })
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                        @Html.DisplayFor(b => backlog.BacklogPelny.Opis)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(b => backlog.BacklogPelny.StanP.Nazwa)
                                    </td>
                                    <td>
                                        @Html.DisplayName(backlog.BacklogPelny.Uzytkownik.ToString())
                                    </td>
                                    <td>
                                        @Html.DisplayFor(b => (backlog.BacklogPelny.Wysilek))
                                    </td>
                                    <td>
                                        @Html.DisplayFor(b => (backlog.BacklogPelny.WartoscBiznesowa))
                                    </td>
                                    <td>
                                        @Html.DisplayFor(b => (backlog.BacklogPelny.UkonczonoProcent))
                                    </td>
                                    @if (Model.CzyWszystkie)
                                    {
                                        <td>
                                            @Html.DisplayFor(b => ProjectMaster.Model.Sprint.Daj(backlog.BacklogPelny.SprintId).Nazwa)
                                        </td>
                                    }
                                </tr>
                                foreach (var zadanie in backlog.ZadaniaBackloga)
                                {
                                   @*@Html.ActionLink(backlog.BacklogPelny.Nazwa, "ViewDodajEdytuj", "Backlog", new { @id = backlog.BacklogPelny.Id }, new { @class = "modal-link" }) <br />*@  @*new { @class = "linkiProjektow" }*@
                                    <tr class="collapse row1">
                                        <td></td>
                                        <td>@Html.ActionLink(@zadanie.Nazwa, "ViewDodajEdytuj", "Zadanie", new { @id = zadanie.Id }, new { @class = "modal-link linkiPodprojektow" })</td>
                                        <td>@zadanie.StanP.Nazwa</td>
                                        <td>@zadanie.UzytkownikP.Imie[0] @zadanie.UzytkownikP.Nazwisko</td>
                                        <td>@zadanie.Wysilek</td>
                                        <td></td>
                                        <td>@zadanie.UkonczonoProcent</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>


