﻿@model ProjectMaster.Model.Projekt
@{
    ViewBag.Title = "Dodawanie projektu";
}

<script>
    $(document).read(function () {

        $("#btnId").click(function () {
            window.alert("sometext");
            var url = '@Url.Action("Index", "Uzytkownik")';
            window.location.href = url;
        });
    });
</script>

<br />
<br />

@using (Html.BeginForm())
{
    <section>
        <fieldset>
            <legend>Dodaj projekt</legend>
            <div class="form-group">
                @Html.LabelFor(p => p.Nazwa, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(p => p.Nazwa, new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.Nazwa, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.Opis, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(p => p.Opis, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">

                    <input type="submit" value="Zapisz" class="btn btn-default" />
                    <input id="btnId" value="Cofnij" class="btn btn-default" type="button" />

                </div>
            </div>
        </fieldset>
        <br />
    </section>
}
