﻿@model ProjectMaster.Model.DaneProjektu

@{
    //ViewBag.Title = "Edycja " + @Model.Nazwa;
}

@*Projekt o numerze id: @ViewBag.Id*@


@*<h1>Jesteśmy w projekcie @Model.Nazwa</h1>*@
<br />
<br />

<div class="col-md-5">
    <h3 class="naglowki">Użytkownicy projektu:</h3>
    <table class="table">
    <tr>
        <th>
            @Html.DisplayName("Dane osobowe")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <td></td>
    </tr>


    @foreach (var uzytkownik in Model.UzytkownicyWProjekcie)
        {
        <tr>
            <td>
                @Html.DisplayName(string.Format("{0} {1}", uzytkownik.Imie[0], uzytkownik.Nazwisko))
                @*@Html.DisplayFor(modelItem => uzytkownik.Imie + " " + modelItem = > uzytkownik.Nazwisko)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => uzytkownik.Email)
            </td>
            @if (Model.CzyAdminProjektu)
                {
                <td>
                    @Html.ActionLink("Usun", "UsunUzytkownika", "Projekt", new { @idUzytkownika = uzytkownik.Id, @idProjektu = Model.Projekt.Id }, new { @class = "przyciskUsun" })
                </td>
                }

        </tr>
        }

        @if (Model.CzyAdminProjektu)
        {
            using (Html.BeginForm())
                {

                <tr>
                    <td>
                        @Html.TextBox("mail")
                    </td>
                    <td>
                        @Html.DropDownList("rolaKlucz", new List<SelectListItem>() { new SelectListItem() { Selected = true, Text = "Scrum Master", Value = "SMAS" }, new SelectListItem() { Selected = false, Text = "Team Memeber", Value = "TEAM" }, })
                    </td>
                    <td>
                        @*@Html.ActionLink("Dodaj", "DodajUzytkownika", "Projekt", new { @idProjektu = Model.Projekt.Id}, new { @class = "przyciskDodaj" })*@
                        <input type="submit" value="Dodaj" class="bDodaj" />
                    </td>
                </tr> 
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                @Html.Label("Podaj email użytkownika, którego chcesz dodać do projektu i wybierz jego rolę", new { @class = "etykieta" })
                            </td>
                        </tr>
                    </tfoot>
             }
        }
    </table>
    @Html.ValidationSummary()
</div>

<div class="col-md-5">
    @Html.ActionLink("Zarządzaj sprintami", "Index", "Sprint", new { @id = Model.SprintyWProjekcie[0].Id} , null)
</div>
